<h3>
  <strong>Contact us</strong>
</h3>
<p>
  Got a question or request for Libraries? Open an <%= link_to 'issue on GitHub', 'https://github.com/librariesio/harana.dev/issues' %> or email <%= mail_to 'support@harana.dev', 'support@harana.dev' %>
</p>
